/* Write your code here. */
bg-container {
  display: flex;
  justify-content: center;
}

.app-container {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

image-container {
  padding: 0px;
}

.head {
  font-family: 'Roboto';
  color: #1e293b;
  font-size: 30px;
}

.para {
  font-family: 'Roboto';
  color: #64748b;
  font-size: 20px;
}

.thumbnails-list {
  display: flex;
  flex-direction: row;
}
